
h1 {
	margin-left: 10px;
	float: left;
}

html {
    font-size: 20px;
    min-height: 100%;
    position: relative;
}

body {
    background: #2b2b2b;
    color: #fff;
    font: 20px sans-serif;
    margin-bottom: 180px;
    min-height: 100%;
}

th, td {
	padding: 5px;
	text-align: left;
	border-spacing: 2px;
	border-collapse: collapse;
	font-size: 13px;
}

th {
	border-bottom: 1px solid #aaaaaa;
	border-collapse: collapse;
	font-size: 15px;
}

.first, .second {
	width: 45%;
}

.third {
	width: 10%;
}

table {
    border: 2px solid #aaaaaa;
    border-collapse: collapse;
	margin-bottom: 20px;
}

table.matched {
	margin-left: 12.5%;
    width: 75%;
}

table.unmatched {
	float: left;
	width: 45%
}

th {
	background-color: #2b2b2b;
}

tr:nth-child(even) {
    background-color: #777777;
}
tr:nth-child(odd) {
    background-color: #444444;
}

h2 {
	margin-left: 20px;
}

div.container {
	border: #555555 6px outset; 
	position: relative;
}

div.header {
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #3b3b3b;
	z-index: 100;
}

.clear {
	clear: left; display: block;    
}

#unmatched-div {
	margin: auto; 
	position: relative; 
	width: 75%; 
	overflow: hidden;
}

#main-div {
	margin-left: auto; 
	margin-right: auto; 
	top: 100px; 
	position: relative; 
	width: 75%;
}

span {
	margin: auto;
	width: 100%;
	display: table;
	text-align: center;
}

.draggable:hover {
	color: #999933;
	z-index: 100;
	cursor: move;
}

.ui-droppable-hover {
	background-color: #339933;
}

.button-div {
	float: right;
	display: table;
	height: 100%;
}

.child-div {
	display: table-cell;
	vertical-align: middle;
}

.control-button {
	background-color: #ffffff00;
	border: none;
}

.control-button:hover {
	background-color: #999999;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}


